Options -Indexes
RewriteEngine On
RewriteBase /qrapi/public/

RewriteCond %{REQUEST_URI} ^/qrapi/public/storage/qr_codes/ [NC]
RewriteRule ^ - [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]